.gari {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gari h3 {
  font-size: 40px;
  color: tomato;
}

.gari img {
  width: 140px;
  border-radius: 10px;
  margin-right: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
}