.gari {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gari h3 {
  font-size: 40px;
  color: tomato;
}

.gari img {
  width: 140px;
  border-radius: 10px;
  margin-right: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.seoi img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.리아님 {
  color: palevioletred;
}

.bong{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height:  500px;
  animation: mymove 4s infinite ease-in-out;
}

.bong h3 {
  font-weight: 700;
  font-style: italic;
  
}

.bong img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.bong span{
  margin-top: 10px;
  font-weight: 700;
}

@keyframes mymove {
  from {background-color: aliceblue;}
  to {background-color: azure;}
}
